RewriteEngine On
RewriteRule ^$ http://rdf-vocabulary.ddialliance.org/discovery [R=302]

#content negotiation for providing RDF or documentation
DirectoryIndex discovery
AddType text/html .html
AddType application/xhtml+xml .html
AddType text/turtle .ttl
AddType application/x-turtle .ttl
AddType text/rdf+n3 .n3
AddType application/rdf+xml .rdf