a {
	text-decoration: none;
}
a, h1, h2, h3, h4, h5 {
	color:#50408E;
}
p {
	text-align: justify;
}
body {
	font-size: 12px;
	font-family: "Lucida Sans Unicode" ;
	background-image: url(../images/rhizomik.jpg);
	background-repeat: no-repeat;
	background-color: white;
    background-position: -200px 0px;
} 
td {
	font-size: 11px;
	font-family: "Lucida Sans Unicode";
}

.description th *, .description td *{
	display:inline-block;
	text-align:left;
}

.connector-center{
	padding-left: 5px; 
	padding-right: 5px;
}

.property-object th{
	font-size:12px;
}

.description table tbody tr th{
	text-align:left;
}


img {
	border: 0px;
}
#header {
	margin-top: 10px;
	float: right;
}
#header #login {
	float: right;
	clear: both;
	font-size: 10px;
	margin-top: 10px;
	margin-right: 10px;
}
#header #login #username
{
	float: left;
	font-weight: bold;
}
#header #menu-class, #header #menu-skos {
	float: right;
	clear: both;
	font-size: 13px;
	margin-top: 20px;
	font-weight: bold;
}
#header #menu-skos {
    display: none;
}
#body {
	margin-top: 10px;
	float: left;

	overflow: hidden;
}
#left {
	float: left;
	padding: 10px;
	width: 250px;
	margin-top:50px;
}
#metadata {
	margin-top: 32px;
	border-width: 1px;
	border-style: dashed;
	border-color: #CCCCCC;
	padding: 10px;
	background-color: #F0F0F0;
}
#metadata p {
	margin: 0px;
}
#metadatafoot {
	text-align: center;
	padding: 10px;
}
#content {
	margin-right: 10px;
	margin-left: 275px;
}
#content a {
	text-decoration: underline;
}
#content a:visited {
	color:#80708E;
}
#content .yui-content {
	border-color: #CCCCCC;
	background-color: #F0F0F0;
}
#content .yui-nav .selected a em {
	color:white;
}
#content .yui-nav a {
	text-decoration: none;
}
#content #wikiactions a {
	text-decoration: none;
}
#content #wikiactions {
	text-align: right;
	font-size: 11px;
}
#content p {
  margin-bottom: 4px;
  text-align: justify;
}
/* #content {
  counter-reset: h2;
}
#content h2 {
  counter-reset: h3;
}
#content h3 {
  counter-reset: h4;
}
#content h2:before {
  content: counter(h2) ". ";
  counter-increment: h2;
}
#content h3:before {
  content: counter(h2) "." counter(h3) ". ";
  counter-increment: h3;
}
#content h4:before {
  content: counter(h2) "." counter(h3) "." counter(h4)". ";
  counter-increment: h4;
}
*/
#wikifootlogo a {
	text-decoration: none;
}
#wikifootlogo {
	position: relative;
	left: 50%;
	width: 150px;
	margin-left: -75px;
	margin-top: 20px;
}


/* Facets styling */

.facet_options {
	margin-top:-10px;
    margin-bottom:10px;
	border: solid grey;
	border-width: 1px;
	display:none;
}

.facet_title_show{
	background-image: url("//z.bstatic.com/static/img/experiments/icon_open.gif"); /*Canviar per imatge local */
	background-repeat: no-repeat;	
}

.values, .more {
	padding-left:5px;
	margin-left: 0;
	list-style-type: none;	
}

.values li.item{
	background-image: url("//x.bstatic.com/static/img/experiments/checkbox_false.gif");
    background-repeat: no-repeat;
    margin-top:3px;
    cursor:pointer;
}

.values li:hover{
	background-color:#CCCCCC;
}

.values li div.item_instances{
	float:left;
	margin-right:10px;
	text-align:right;
	align:right;
}

.values li div.item_text{
	margin-left:20px;
}

.facet_form {
	margin: 5px;
	margin-bottom:30px;
	width:210px;
}

.text-box{
	color:grey;
 	background-image:url('http://www.imdb.com/images/searchlink.png'); /*Canviar per imatge local!*/
  	background-repeat:no-repeat;
  	margin-left:-15px;
    padding-left:15px;
  	border:1px solid grey;
}

.more{
	text-align:right;
	text-decoration:underline;
	margin-right:10px;
}

.visualizations{
	text-align:right; 
	margin-right:10px;
	text-decoration:underline;
}

.selected_item{
	font-weight:bold;
	background-image: url("//x.bstatic.com/static/img/experiments/checkbox_true.gif");
    background-repeat: no-repeat;	
    margin-top:3px;
    cursor:pointer;    
}

.filter_by{
	float:left; 
	font-weight:bold; 
	margin-bottom:10px;
}

.reset_facets{
	text-align:right;
	text-decoration:underline;
}

.selected_facet span{
	font-weight:bold;
	float: left;
	margin-right:20px;
}

.selected_facet ul{
	list-style-type: none;	
}

.selected_facet ul li{
	display: inline;
	margin-left: 20px;
	padding-left: 5px;
	cursor: pointer;
}
 
.facet_title {
    border: 0 none;
    padding-left: 20px;		
	font-weight: bold;
	background-image: url("//y.bstatic.com/static/img/experiments/icon_shut.gif"); /*Canviar per imatge local */
    background-repeat: no-repeat;
    margin:0;
  	float: left;
  	width:80%;
  	cursor:pointer;
}

.facet_title h4{
	padding:0;
	margin:0;
}
 
div.clear {
  clear: both;
}

.pivot {
  float: right;
  cursor:pointer;
}

.showvalues {
    float: left;
    cursor:pointer;
}

.facet_header {
  background-color: #F0F0F0;	
  margin-bottom:10px;	
}

#active_facets ul{
	margin-top:0px;
	padding-top:0px;
}

ul.inline , ul.inline li{
	display:inline;
	margin-right:10px;
	cursor:pointer;
}

#active_facets .class_active{
	font-weight:bold;
	font-size: 12px;
}

.menu_instances{
	font-weight:normal;
}

#active_facets .your_filters{
	font-weight:bold;
	text-decoration: underline;
}

#active_facets{
	margin-top:10px;
	margin-bottom:5px;
    font-size: 12px;
}

.search_loading{
	float:right;
 	position: relative;
    z-index: 10;
    width: 16px;
}

.autocompleting{
    margin-top: 3px;
    width: 90%;
}

.pointer{
	cursor:pointer;
}

#related{
    display: none;
    background: none repeat scroll 0 0 white;
    border: 1px solid;
    float: right;
    padding: 20px;
}